* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* largura */
    width: 100vw;
    /* comprimento */
    height: 100vh;
    /* tamanho da fonte */
    font-size: 62.5%;
    /* cor da fonte */
    color: black;
    /* fonte da paginna */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(rgba(16,16,16,0.5), rgba(25,25,25, 0.5)), url(./oficina.jpg);
}